* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section1 .master {
    height: 200vh;
    width: 100%;
}

section1 .master .school {
    display: flex;
    position: static;
    top: 0px;
    width: 100%;
    margin: 10px;
    z-index: 2;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

section1 .master .school1 {
    display: flex;
    background-color: #ff2800;
    width: 100vw;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 35px;
    padding-right: 30px;
    position: sticky;
    top: 0px;
    z-index: 3;

}
.fa-solid{
    color: #000000;
}
.fa-regular {
    color: #000000;

}

section1 .master .school1 img {
    height: 30px;
    padding-left: 570px;
    padding-right: 570px;
}

section1 .master .school2 {
    position: sticky;
    top: 100px;
}

section1 .master .school2 h2 {
    display: flex;

    top: 80px;
    margin-left: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section1 .master .logo h1 {
    display: flex;
    color: #111;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 50px
}

section1 .master .school3 {
    display: flex;
    margin-left: 80px;
    margin-top: 60px;
    font-size: 10px;
    justify-content: space-between;
    margin-right: 80px;
}

section1 .master .school3 h3 {
    color: rgb(77, 76, 76);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

section1 .master .photo {
    display: flex;

}

section1 .master .photo .f {
    height: 700px;
    margin-left: 80px;
    margin-top: 15px;
}

section1 .master .photo .s {
    height: 400px;
    margin-left: 30px;
    margin-top: 15px;
}

section1 .master .photo .t {
    height: 400px;
    margin-left: 30px;
    margin-top: 15px;

}

section1 .master .text {
    display: grid;
    position: absolute;
    top: 805px;
    left: 612px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;


}

section1 .master .text1 {
    display: grid;
    position: absolute;
    top: 805px;
    left: 935px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;


}

section1 .master .text a {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}

section1 .master .text1 a {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}

section1 .master .text2 a {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}

section1 .master .text3 a {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}

section1 .master .hour .car1 {
    height: 400px;
    position: absolute;
    top: 900px;
    left: 612px;
}

section1 .master .hour .car2 {
    height: 400px;
    position: absolute;
    top: 900px;
    left: 935px;
}

section1 .master .text2 {
    display: grid;
    position: absolute;
    top: 1310px;
    left: 612px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

section1 .master .text3 {
    display: grid;
    position: absolute;
    top: 1310px;
    left: 935px;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

section1 .master .ferrari img {
    display: grid;
    position: absolute;
    height: 310px;
    top: 1090px;
    left: 35px
}

section2 .room {
    height: 100vh;
}

section2 .room .new {
    display: flex;
    height: 400px;
    margin-top: 130px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
}

section2 .room1 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    gap: 78px;
}

section2 .room2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 299px;
}

section2 .room3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    gap: 243px;
}

section2 .room3 a {
    color: black;
}

section2 .door .win {
    display: flex;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
}

section2 .go {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    gap: 78px;
}

section2 .go1 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 299px;
}

section2 .go2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    gap: 243px;
}

section2 .go2 a {
    color: black;
}

section2 .shiv .singh {
    display: flex;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 40px;
    margin-top: 40px;
}

section2 .chauhan {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    gap: 78px;
}

section2 .chauhan1 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 299px;
}

section2 .chauhan2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    gap: 243px;
    margin-bottom: 120px;
}

section2 .chauhan2 a {
    color: black;
}

h1 {
    color: #fff;
    text-align: center;
    margin: 3em 0;
    font-size: 3em;
}

.footer * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer ul {
    list-style: none;

}

.footer {
    color: #fff;
    background: #121315;
}

.footer p {
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;

}

.footer ul {
    list-style: none;
}

.footer a {
    color: #fff;
    text-decoration: none;

}

.footer h4 {
    margin-bottom: 1em;
    text-transform: uppercase;
}

.footer .continer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;

}

.footer .continer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.brand {
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.media-icons li,
.service-icon li {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a {
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover {
    background: #fff;
    color: #111;
}

.service-icon a {
    font-size: 1.6em;
}

.service-icon a:hover {
    color: #dbdbdb;

}

.footer-bottom {
    border-top: 1px #dbdbdb solid;

}

.footer .menu {
    margin-bottom: 3em;
}

.footer .menu li {
    display: inline-block;
    margin: 0 0.7em 0.7em 0;
    text-align: center;
}

.footer .menu a {
    transform: 0.3s;
    font-weight: 600;
}

.footer .menu a:hover {
    color: #ff2b00;
}

.input-wrap {
    margin: 1em 0;
    display: flex;
}

.input-wrap input {
    padding: 0;
    border: none;
    background: #20232a;
    color: #ccc;
}

.input-wrap input:focus {
    outline: none;
}

.input-wrap input:focus {
    outline: none;
}

.input-wrap button {
    padding: 0.8em;
    background: #ff2b00;
    border: none;
    color: #fff;
}

.input-wrap button:hover {
    background: #fff;
    color: #111;
}

.last {
    height: 60px;
    background-color: #6c0606;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

@media screen and (max-width: 786px) {
    section1 .master .photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 786px) {
    .footer .continer {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:425px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 900px) {
    .footer .continer {
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    body {
        display: flex;
        flex-direction: 1fr 1fr;
    }
}

@media screen and (max-width:425px) {
    body {
        display: flex;
        flex-direction: 1fr;
    }
}
